.chamber {
  display: flex;
  padding: 2.5vh;
  width: 90vw;
  align-items: center;
  justify-content: flex-start;
  border: 2px solid brown;
  background-color: saddlebrown;

  .slot {
    height: 15vh;
    width: 15vh;
    display: flex;
    border: 2px solid brown;
    background-color: darkslategray;
  }
}

.inactive {
  box-shadow: inset 0px 2px 3px 3px black;
}
