mat-tab-group {
  height: 100vh;
}

.mat-tab-labels {
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}
.container {
  height: 88vh;
  color: pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
