<ng-container *ngIf="(afAuth.user | async) as user; else showLogin">
  <button mat-fab class="sticky-burger">
    <mat-icon aria-label="Example icon-button with a heart icon"
      >favorite</mat-icon
    >
  </button>
  <mat-tab-group
    headerPosition="below"
    backgroundColor="primary"
    [selectedIndex]="selectedTab$ | async"
    (selectedIndexChange)="changeSelectedTab($event)"
  >
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'seedling']"></fa-icon>
      </ng-template>
      <div class="container"><app-propagation></app-propagation></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'warehouse']"></fa-icon>
      </ng-template>
      <div class="container"><app-ward></app-ward></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'home']"></fa-icon>
      </ng-template>
      <div class="container"><app-home></app-home></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'sun']"></fa-icon>
      </ng-template>
      <div class="container"><app-greenhouse></app-greenhouse></div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="['fas', 'hand-holding-usd']"></fa-icon>
      </ng-template>
      <div class="container"><app-market></app-market></div>
    </mat-tab>
  </mat-tab-group>
</ng-container>
<ng-template #showLogin>
  <div class="login-container">
    <p>Please login.</p>
    <button (click)="login()">Login with Google</button>
  </div>
</ng-template>
